deliveries/trunk/implements/CoYqlp/CoYqlp.WepApp/Connected Services/eSMSvn/MainService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AdvertisingAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AdvertisingAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MainService.api">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApiKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Brandname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecretKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SmsType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainService.api" nillable="true" type="tns:MainService.api" />
  <xs:complexType name="MainService.HubspotData">
    <xs:sequence>
      <xs:element minOccurs="0" name="properties" nillable="true" type="tns:MainService.HubspotProperties" />
      <xs:element minOccurs="0" name="vid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainService.HubspotData" nillable="true" type="tns:MainService.HubspotData" />
  <xs:complexType name="MainService.HubspotProperties">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="tns:MainService.HubspotSubProperties" />
      <xs:element minOccurs="0" name="firstname" nillable="true" type="tns:MainService.HubspotSubProperties" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="tns:MainService.HubspotSubProperties" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainService.HubspotProperties" nillable="true" type="tns:MainService.HubspotProperties" />
  <xs:complexType name="MainService.HubspotSubProperties">
    <xs:sequence>
      <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MainService.HubspotSubProperties" nillable="true" type="tns:MainService.HubspotSubProperties" />
</xs:schema>